<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
  </head>
  <body style="color : rgb(195, 56, 160)">
    
    <div
      style="background-color: ivory; max-width: 700px; margin:auto; border: 2px solid rgb(43, 24, 44);border-radius: 10px; padding: 50px 20px; font-size: 110%;"
    >
      <h2
        style="text-align: left; text-transform: uppercase;color: rgb(195, 56, 160);"
      >Ticket-Number</h2>
      <p>Terima Kasih sudah membeli ticket melalui Shuttle
      </p>
      <p>Ticket anda : </p>
      <p style="font-size : 40px">{{ticket}}</p>
    </div>
  </body>
</html>
